td,th{
    padding: 5px !important;
    width: 100px;
}
table{
    border: 1px solid rgba(0, 0, 0, 0.15);
    margin-top: 15px;
}
#container_1{
    background: rgb(16, 55, 87) !important;
    height: 100vh;
}
#data_heading{
    height: 100vh;
}
#list_1 li a{
    font-size: 18px;
}

    /* background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


.brand-logo{
    font-size: 1.64rem !important;
}

.row{
    margin-bottom: 0px !important;
}

#copyright_ctn{
    background: rgb(16, 55, 87) !important;
}

